/*Refactorizacion*/
/*variable global*/
html,
body,
aside {
  height: 100%; }

.video__container {
  width: 402px;
  margin: 0 auto;
  position: relative;
  transform: translateY(-50%);
  top: 50%; }

.video__item {
  height: 94px;
  display: flex;
  margin-bottom: 6px;
  color: #171717; }

.video__cover {
  width: 168px; }

.video__title {
  font-size: 14px;
  font-weight: bold;
  margin: 0; }

.video__account, .video__stats {
  color: rgba(17, 17, 17, 0.6);
  font-size: 13px;
  margin: 4px 0; }

.copyright {
  margin-top: 30px; }
  .copyright hr {
    margin: 20px auto;
    border: 0;
    height: 3px;
    background-color: rgba(17, 17, 17, 0.09);
    width: 80px; }
  .copyright .copy {
    font-size: 13px;
    color: rgba(17, 17, 17, 0.5);
    padding: 0 15px; }
