/*Refactorizacion*/
/*variable global*/
$font-size: 13px;
$color: rgba(17, 17, 17, 0.6);
$margin: 4px 0;
$height: 100%;

html,
body,
aside {
    height: $height;

}

.video {
    &__container {
        width: 402px;
        margin: 0 auto;
        position: relative;
        transform: translateY(-50%);
        top: 50%;
    }

    &__item {
        height: 94px;
        display: flex;
        margin-bottom: 6px;
        color: #171717;

    }

    &__cover {
        width: 168px;
    }

    &__title {
        font-size: 14px;
        font-weight: bold;
        margin: 0;
    }

    &__account,
    &__stats {
        color: $color;
        font-size: $font-size;
        margin: $margin;
    }



}

.copyright {
    margin-top: 30px;


    & hr {
        margin: 20px auto;
        border: 0;
        height: 3px;
        background-color: rgba(17, 17, 17, 0.09);
        width: 80px;
    }

    & .copy {
        font-size: $font-size;
        color: rgba(17, 17, 17, 0.5);
        padding: 0 15px;
    }
}